<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/">
<head>
  <title>${section.title}</title>
  <style type="text/css">
h1 { text-align: center; }
${section.css}
  </style>
</head>
<body>
  <h1>${section.title}</h1>
  <py:for each="paragraph in section.text">
    <py:choose test="type(paragraph)">
      <py:when test="type([])">
<p>
		<py:choose test="attrs" py:for="text, attrs in paragraph">
          <py:when test="''">$text</py:when>
		  <py:otherwise><span class="$attrs">$text</span></py:otherwise></py:choose>
</p>
      </py:when>
      <py:when test="type(None)">
<div style="page-break-before:always;"></div>
      </py:when>
      <py:otherwise>
<p>$paragraph</p>
      </py:otherwise>
    </py:choose>
  </py:for>
</body>
</html>
